.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.list {
  list-style-type: none;
}

.user__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.exit {
  &:hover {
    cursor: pointer;
    color: blueviolet;
  }
}
