<div cdkDropListGroup>
  <div class="container">
    <h2>To do</h2>
    <mat-progress-bar *ngIf="store.loading()" mode="indeterminate"></mat-progress-bar>

    <div
      cdkDropList
      [cdkDropListData]="store.tasks() | completed: false"
      class="list"
      [ngClass]="store.loading() ? 'disabled' : ''"
      (cdkDropListDropped)="drop($event)">
      @for (item of store.tasks() | completed: false; track item) {
        <div class="box" cdkDrag [cdkDragDisabled]="store.loading()" [id]="item.id">
          <app-task [task]="item"></app-task>
        </div>
      }
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>
    <mat-progress-bar *ngIf="store.loading()" mode="indeterminate"></mat-progress-bar>

    <div
      cdkDropList
      [cdkDropListData]="store.tasks() | completed: true"
      class="list"
      [ngClass]="store.loading() ? 'disabled' : ''"
      (cdkDropListDropped)="drop($event)">
      @for (item of store.tasks() | completed: true; track item) {
        <div class="box" cdkDrag [cdkDragDisabled]="store.loading()" [id]="item.id">
          <app-task [task]="item"></app-task>
        </div>
      }
    </div>
  </div>
</div>
