:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
