<mat-toolbar class="container" color="accent">
  <div class="menu">
    <div>
      <a routerLink="board">TodoApp</a>
    </div>

    <nav>
      <ul class="list">
        <li>
          <a class="link" routerLink="board">Board</a>
        </li>
      </ul>
    </nav>
  </div>

  <div>
    <a *ngIf="!userStore.token(); else user" routerLink="login">Login</a>
  </div>

  <ng-template #user>
    <div class="user__container">
      <p>{{ userStore.username() }}</p>
      <mat-icon class="exit" fontIcon="exit_to_app" (click)="userStore.logout()"></mat-icon>
    </div>
  </ng-template>
</mat-toolbar>
